@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-Regular", normal, 400, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-RegularItalic", italic, 400, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-Medium", normal, 500, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-MediumItalic", italic, 500, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-Bold", normal, 700, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-BoldItalic", italic, 700, woff2 woff) {
    font-display: swap;
};

@include font-face("Brandon Text", "assets/fonts/BrandonText/BrandonText-Black", normal, 900, woff2 woff) {
    font-display: swap;
};