// .payment-content {
//     background: red;   
// }

#oppcw-checkout-form-pane {
    max-width: 600px;
    margin-left: unset;
    margin-right: unset;
}

.oppcw-control-label {
    font-weight: 500;
    color: $primary;
}

.oppcw-description, 
.oppcw-help-block {
    color: $clr-text-light;
}

.oppcw-help-block {
    font-size: 0.8rem;
    line-height: 1.25;
}

.oppcw-confirmation-buttons {
    .back-button {
        border: 1px solid $clr-border-light;
        border-radius: $br-button;
        color: $clr-text-light;
        font-weight: 500;
        margin-right: 0.5rem;
    }
}